body {
  background-color: rgb(245, 245, 245);
}

.splash-title {
  z-index: 7;
  position: absolute;
  color: white;
  font-family: 'Permanent Marker', cursive;
  font-size: 250px;
  padding: 305px 0px 0px 500px;
}

.background-img {
  z-index: 06;
  position: absolute;
  width: 100%;
  height: 1020px;
}

.title-divider {
  z-index: 0;
  position: absolute;
  width: 100%;
  height: 100px;
  background-color: #03045E;
  margin-top: 0px;
}

/* Sidebar Style */

.toggle-btn-container {
  z-index: 2;
  position: absolute;
  margin: 30px 0px 0px 20px;
}

i.icon {
  height: 40px;
  width: 40px;
}

.sidebar-toggler {
  z-index: 2;
  position: absolute;
  color: white;
  background-color: #03045E;
  padding-top: 6px;
  border-radius: 10px;
}

.sidebar-toggler:hover {
  cursor: pointer;
}

.ui.inverted.menu {
  background-color: #03045E;
  box-shadow: 2px 2px white !important;
}

/* End of sidebar style */

.session-page-title {
  padding-top: 40px;
}

.sessions-title {
  z-index: 2;
  position: absolute;
  padding-top: 25px;
  text-align: center;
  font-size: 70px;
  font-weight: bold;
  color: white;
}

.header {
  text-align: center;
}

.go-btn {
  width: 100px;
  margin-left: 80px !important;
}

.fav-hist-toggle {
  float: right;
  border: #03045E solid 3px;
  border-radius: 10px;
  background-color: #03045E;
  color: white;
  height: 40px;
  width: 100%;
  margin-right: 50px;
}

.fav-hist-toggle:hover {
  background-color: transparent;
  color: #03045E;
  cursor: pointer;
}

.session-search-container {
  margin-top: 100px !important;
}

.search-area {
  text-align: center;
}

.sessions-divider {
  color: black !important;
  opacity: 1 !important;
  margin-top: 50px !important;
}

.sessions-content-container {
  margin-top: 50px;
  border: solid white;
  border-radius: 10px;
  opacity: .8;
}

.sessions-main-display {
  justify-content: center;
}

.ui.card {
  margin-top: 0px;
  margin-left: 20px;
}

.vote-area {
  padding-top: 15px;
}

.favorite {
  font-size: 20px;
  padding-top: 15px;
  padding-bottom: 5px;
}

.favorite:hover {
  color: gold;
  cursor: pointer;
}

.delete {
  font-size: 20px;
  padding-top: 15px;
  padding-right: 15px;
  padding-bottom: 5px;
}

.delete:hover {
  color: red;
  cursor: pointer;
}

.no-data-message {
  font-size: 20px;
  font-weight: bold;
  text-align: center;
}

.session-data {
  border-bottom: none;
  height: 0px;
}

/* Below here is for popup */
.overlay {
  position: fixed;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  background: rgba(0, 0, 0, 0.7);
  transition: opacity 500ms;
  visibility: hidden;
  opacity: 0;
}

.overlay:target {
  visibility: visible;
  opacity: 1;
}

.popup {
  margin: 70px auto;
  padding: 20px;
  background: #fff;
  border-radius: 5px;
  width: 30%;
  position: relative;
  transition: all 5s ease-in-out;
}

.popup h2 {
  margin-top: 0;
  color: #333;
  font-family: Tahoma, Arial, sans-serif;
}

.popup .close {
  position: absolute;
  top: 20px;
  right: 30px;
  transition: all 200ms;
  font-size: 30px;
  font-weight: bold;
  text-decoration: none;
  color: #333;
}

.popup .close:hover {
  color: #06D85F;
}

.popup .content {
  max-height: 30%;
  overflow: auto;
}

@media screen and (max-width: 700px) {
  .box {
    width: 70%;
  }
  .popup {
    width: 70%;
  }
}