.session-page-title {
  padding-top: 40px;
}

.sessions-title {
  font-size: 50px;
  font-weight: bold;
}

.favorite-button {
  float: right;
}

.session-search-container {
  margin-top: 30px;
}

.no-history-message {
  font-size: 40px;
  font-weight: bold;
}